@font-face {
	font-family: TheGodfather;
	src: url(../fonts/TheGodfather-v2.ttf);
}

body {
	width: 100%;
	margin: 10px auto;
	font-family: TheGodfather, Arial;
}

#wrapper {
	width: 100%;
	margin: 10px auto;
	background-image: url(../images/mafia-back.jpg);
	background-size: cover;
}

#page-header {
	display: flex;
	margin: 10px 30px;
	text-align: center;
}

.logo-image {
	max-width: 100px;
	padding: 0px 50px;
	border: none;
}

.header-text {
	font-size: 5em;
	color: darkred;
	padding-left: 50px;
}

#menu {
	text-align: center;
}

#menu > ul > li {
	display: inline-block;
	cursor: pointer;
}

#menu > #main-menu > li > #sub-menu {
	position: absolute;
	display: none;
}

#menu > #main-menu > li:hover #sub-menu {
	display: block;
	width: 150px;
}

#menu > #main-menu > li > #sub-menu > li > a {
	padding-top: 10px;
	display: block;
	height: 30px;
	color: darkred;
	background-color: darkgrey;
	border-bottom: 1px solid darkred;
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
}

#menu > #main-menu > li > a {
	margin: 15px;
	font-size: 2em;
	font-weight: bold;
	color: darkred;
	padding: 10px;
	border-radius: 10px;
	background-color: grey;
	text-decoration: none;
}

#menu > #main-menu > li > a:hover {
	margin: 15px;
	font-size: 2em;
	font-weight: bold;
	color: lightgrey;
	padding: 10px;
	border-radius: 10px;
	border: 2px solid darkred;
	background-color: darkgrey;
	text-decoration: none;
}