#index-content {
	width: 80%;
	padding-left: 10%;
	padding-right: 10%;
}

#index-content > article {
	background-color: rgba(198, 198, 198, 0.6);
	border-radius: 10px;
}

#index-content > article > header > h1 {
	font-size: 3em;
	text-align: center;
	color: rgb(255, 255, 255);
	margin: 50px auto 20px auto;
	padding-top: 10px;
}

#index-content > article > header > h1:hover {
	color: #8B0000;
}

#index-content > article > div > img {
	width: 60%;
	padding-left: 20%;
	padding-right: 20%;
}

#index-content > article > div > p {
	color: rgb(255, 255, 255);
	padding: 10px 0;
	text-align: center;
}

#index-content > article > div > p > a {
	text-decoration: none;
	color: #8B0000;
}

#index-content > article > div > p > a:hover {
	text-decoration: none;
	color: rgb(198, 198, 198);
}

#index-content > article > div > ol {
	color: rgb(255, 255, 255);
	text-align: center;
	list-style-type: decimal;
}

#index-content > article > div > ol > li {
	padding: 5px 0px;
}