.members {
	width: 80%;
	padding-left: 10%;
	padding-right: 10%;
}

.members > header {
	width: 100%;
	margin: 20px 0px;
	text-align: center;
}

.members > header > h1 {
	font-size: 3em;
	color: #FFFFFF;
	margin: 50px auto 20px auto;
}

.members > header > h1:hover {
	color: #8B0000;
}

.members > article {
	border: 1px solid #8B0000;
	background-color: rgba(198, 198, 198, 0.6);
	border-radius: 5px;
	font-family: Arial;
	color: rgb(255, 255, 255);
	text-align: center;
	width: 75%;
	margin: 30px 9px;
	padding-bottom: 10px;
	display: inline-block;
}

.members > article:hover {
	border-color: #A9A9A9;
}

.members > article > header > img {
	max-width: 50%;
	margin-top: 10px;
	box-sizing: border-box;
}

.members > article > header > img.gosho-and-pesho {
	max-width: 40%;
	margin-top: 10px;
	box-sizing: border-box;
}

.members > article >  header > img:hover {
	border: 3px solid white;
}

p.info {
	color: rgb(255, 255, 255);
	margin: 10px 0px;
}

.members > aside {
	width: 20%;
	color: rgb(255, 255, 255);
	background-color: rgba(198, 198, 198, 0.6);
	border-radius: 5px;
	font-family: Arial;
	float: right;
	margin-top: 30px;
	margin-right: 20px;
}

.members > aside > ul > li {
	text-align: center;
	padding: 25px;
}

.members > aside > ul > li > a {
	text-decoration: none;
	color: #8B0000;
}

.members > aside > ul > li > a:hover {
	text-decoration: none;
	color: rgb(198, 198, 198);
}